{% extends "base.html" %}

{% block the_body %}

<h4>Please register:</h4>

<form action='{{ action }}' method='POST' class="pure-form pure-form-aligned">
	<div class="pure-control-group">
		<label for="userid">User-id:</label>
		<input type='text' name='userid' id="userid">
	</div>
	<div class="pure-control-group">
		<label for="passwd">Password:</label>
		<input type='password' name='passwd' id="passwd">
	</div>
	<div class="pure-controls">
		<input type='submit' value='Login' class="pure-button pure-button-primary">
	</div>
</form>

{% if verifydets %}
	<ul>	
		<li style="color:green"> {{ verifydets }} </li>	
	</ul>
{% endif %}

{% if errors %}
	<ul>
	{% for error in errors  %}
		<li style="color:red"> {{ error }} </li></br>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}
